@model FormRegisterWeb.Models.Client

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container rounded bg-white w-500 p-3">
    <h2>@Model.FirstName @Model.LastName</h2>
    <h4>Detalhes de Cliente</h4>
    <hr />

    <div class="row mt-3 ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class="col-md-6">
            @if (Model.Phone != 0)
            {
                @Html.DisplayFor(model => model.Phone)
            }
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Age)
        </div>
        <div class="col-md-6">
            @if (Model.Age != 0)
            {
                @Html.DisplayFor(model => model.Age)
            }
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Sex)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Sex)
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.PostalCode)
        </div>
    </div>
    <div class="row ms-3">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Country)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Country)
        </div>
    </div>
    <div class="m-3 align-content-center">
        <a class="btn btn-primary pe-2" asp-action="Edit" asp-route-id="@Model?.Id">Alterar</a>
        <button type="button" class="btn btn-danger pe-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Apagar</button>
        <a style="color:black" class="btn btn-light" role="button" asp-action="Index">Voltar</a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apagar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Têm a certeza que deseja<br /> apagar o cliente: @Model.FirstName @Model.LastName ?
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
